<div class="row mt-3">
  <div class="col-9"></div>
  <div class="col-3">
    <%= current_user.email.split(/(?=\b@\b|\+|&)/)[0] %>님&nbsp;&nbsp;
    <span class="text-gray-color">|</span>&nbsp;&nbsp;
    <%= link_to home_my_path, class: "no-line ringle-color" do %>
      <span class="clickable">마이뮤직&nbsp;<i class="fas fa-user"></i></span>
    <% end %>
  </div>
</div>
<hr>
