<div class="toolbar mt-4">
  <div class="btn ringle-button text-white" onclick="check_all('<%= sort_condition %>')">전체선택</div>
  <% unless sort_condition.eql?('playlist') %>
    <div class="btn ringle-button text-white" onclick="add_playlists('<%= sort_condition %>')">
      <i class="fas fa-play"></i>&nbsp;&nbsp;듣기
    </div>
  <% end %>
  <div class="btn ringle-button text-white" onclick="add_grouplist('<%= sort_condition %>')">
    <i class="far fa-folder"></i>&nbsp;&nbsp;그룹 담기
  </div>
  <% if sort_condition.eql?('playlist') %>
    <div class="btn ringle-button text-white" onclick="remove_playlists('playlist')">
      <i class="fas fa-times"></i>&nbsp;&nbsp;삭제
    </div>
  <% end %>
</div>
