<div class="toolbar mt-4">
  <div class="btn ringle-button text-white" onclick="check_all('<%= sort_condition %>')">전체선택</div>
  <div class="btn ringle-button text-white" onclick="add_playlists('<%= sort_condition %>')">
    <i class="fas fa-play"></i>&nbsp;&nbsp;듣기
  </div>
  <div class="btn ringle-button text-white" onclick="add_grouplist('<%= sort_condition %>')">
    <i class="far fa-folder"></i>&nbsp;&nbsp;그룹 담기
  </div>
</div>
