@import "bootstrap/scss/bootstrap";

.ringle-color {
  color: #6851d5;
}
.ringle-button {
  background-color: #6851d5; border-radius: 5px;
}
.no-border-radius {
  border-radius: 0;
}
.no-border {
  border: none;
}
.no-line {
  text-decoration: none;
}
.clickable {
  cursor: pointer;
}
.text-gray-color {
  color: #818181;
}
.vertical-center {
  margin-top: auto; margin-bottom: auto;
}
.scrollable {
  height: 400px; overflow-y: scroll;
}
