Swal.fire({
  text: '그룹 플레이리스트에 추가되었습니다.',
  showCloseButton: true,
  allowOutsideClick: false,
  confirmButtonText: '<div class="text-white">플레이리스트 확인하기</div>'
}).then(function(res) {
  window.location.href = '<%= home_my_path %>';
});
